<div class="offline-doc">
  <div class="page-header clear-filter">
    <div class="page-header-image" style="background-image: url('/image/cover.jpg');"></div>
    <div class="content-center">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand">
          <img class="image" width="200" height="auto" src="/image/logo_code4fun.png" />
          <h1 class="title">
            WELCOME TO C4F APP
          </h1>
          <h3 class="description">Active account successfully! </h3>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</div>